.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container > * {
    margin-right: var(--spacing-md);
}

.container--horizontal {
    flex-direction: row;
}

.container--vertical {
    flex-direction: column;
}